# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Data files and listings
*.dat
*.txt
*.lst

# Auxiliary files
*/comments.py

# Compiled commands
04_File_IO_The_Universal_IO_Model/tee
04_File_IO_The_Universal_IO_Model/cp
04_File_IO_The_Universal_IO_Model/seek_io
05_File_IO_Further_Details/large_file
05_File_IO_Further_Details/ex5_2
05_File_IO_Further_Details/atomic_append
05_File_IO_Further_Details/ex5_4
05_File_IO_Further_Details/ex5_5
05_File_IO_Further_Details/ex5_6
05_File_IO_Further_Details/ex5_7
06_Processes/mem_segments
06_Processes/ex6_2
06_Processes/ex6_3
17_Access_Control_Lists/acl_view
17_Access_Control_Lists/acl_view_query
18_Directories_and_Links/realpath
18_Directories_and_Links/ex18_2
18_Directories_and_Links/ex18_7
18_Directories_and_Links/ex18_8
18_Directories_and_Links/list_files
18_Directories_and_Links/getcwd
18_Directories_and_Links/nftw_dir_tree
