# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Data files and listings
*.dat
*.txt
*.lst

# Compiled commands
17_Access_Control_Lists/acl_view
17_Access_Control_Lists/acl_view_query
18_Directories_and_Links/realpath
18_Directories_and_Links/ex18_2
18_Directories_and_Links/list_files
18_Directories_and_Links/getcwd
18_Directories_and_Links/nftw_dir_tree
